<h1>Bagel Adventure</h1>


 <div>
        <form>
            {{#each scenarios}}
                <p id="situation">{{splitScene this.scenario}}</p>
                <button id="a" type="submit" value={{this.choiceA}}>{{splitA this.scenario}}</button>
                <button id="b" type="submit" value={{this.choiceB}}>{{splitB this.scenario}}</button>
            {{/each}}
        </form>
    </div>

