 
 <div class="col-9" id="gameDiv">
     <div id="demo">
         <p class="bg1" id="background"></p>
		<p id="image">  </p>
	</div>
    <form id="playerSpace">
        {{#each scenarios}}
            <p id="situation">{{splitScene this.scenario}}</p>
            <button href="/{{this.choiceA}}" id="a" type="submit" value={{this.choiceA}}>{{splitA this.scenario}}</button>
            <button href="/{{this.choiceB}}" id="b" type="submit" value={{this.choiceB}}>{{splitB this.scenario}}</button>
        {{/each}}
    </form>
</div>
<div class="col" id="choicePane">
        {{#each choices}}
            <p>{{this.choice}}</p>
            {{/each}}
        
</div>
