<h1>Bagel Adventure</h1>


 <div>
        <form id="gameSpace">
            {{#each scenarios}}
                <p id="situation">{{splitScene this.scenario}}</p>
                <button href="/{{this.choiceA}}" id="a" type="submit" value={{this.choiceA}}>{{splitA this.scenario}}</button>
                <button href="/{{this.choiceB}}" id="b" type="submit" value={{this.choiceB}}>{{splitB this.scenario}}</button>
            {{/each}}
        </form>
    </div>

