 <div class="col" id="descriptionPane">
     <p>Welcome to your Bagel Adventure! 
         This is a game designed to show tou the error of your ways, 
         in attempts to feed yourself. Choices made will be displayed in the pane on the right of the play area,
          so feel free to see all the bad choices you've made! 
          Hopefully, you learn a thing or two from your past self...</p>
 </div>
 <div class="col-7" id="gameDiv">
     <div id="demo">
         <p class="bg1" id="background"></p>
		<p id="image">  </p>
	</div>
    <form id="playerSpace">
        {{#each scenarios}}
            <h4 id="situation">{{splitScene this.scenario}}</h4>
            <button href="/{{this.choiceA}}" class="btn btn-success" id="a" type="submit" value={{this.choiceA}}>{{splitA this.scenario}}</button>
            <button href="/{{this.choiceB}}" class="btn btn-success" id="b" type="submit" value={{this.choiceB}}>{{splitB this.scenario}}</button>
        {{/each}}
    </form>
</div>
<div class="col" id="choicePane">
        {{#each choices}}
            <p id="choice">{{this.choice}}</p>
            {{/each}}
        
</div>
